@import url(https://fonts.googleapis.com/css?family=Roboto);


.tipografia {
  font-family: 'Roboto';
}

.margen {
  margin: 40px 20px 40px 35px;
}

hearder, nav, article, section, footer {
  display: block;}
